/*
Styling for the app.
To find out more about styling go to https://dash.plotly.com/external-resources
*/

/* Containers */
.word-cloud-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.word-cloud-params {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0em;
    border-bottom: 0.2em solid var(--darkblue);
    background-color: var(--lightblue);
}

.word-cloud-output {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--pale);
}

.word-cloud-output > * {
    height: 100%;
}

/* Plots and Figures */
.word-cloud-plot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--pale);
}

.word-cloud-plot > * {
    height: 90%;
    width: 90%;
}

/* Buttons */
.word-cloud-btn {
    width: 50%;
    padding: 1em 0em;
    border: 0.2em solid var(--darkblue);
    border-radius: 1em;
    background-color: var(--pale);
    color: var(--darkblue);
}

.word-cloud-btn:hover {
    background-color: var(--darkblue);
    color: var(--pale);
    border-color: var(--pale);
}

/* Media Queries */
@media screen and (max-width: 1050px) {
    .word-cloud-params {
        padding: 0.5em 0;
    }

    .word-cloud-btn {
        width: 35%;
        padding: 0.5em 0;
    }

    .word-cloud-plot > * {
        height: 450px;
        width: 450px;
    }
}