/*
Styling for the app.
To find out more about styling go to https://dash.plotly.com/external-resources
*/


/* Global Variables */
:root {
    --darkred: #780000;
    --red: #C1121F;
    --pale: #FDF0D5;
    --gray: #40606C;
    --darkblue: #003049;
    --lightblue: #669BBC;
}

/* Imports */
@import "main_nav.css";

/* Universal Styling */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: fit-content;
}

/* Containers */
.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: fit-content;
    padding: 0em;
    margin: 0 auto;
    height: 100vh;
    max-height: 100%;
}

.section-container {
    flex-grow: 1;
    display: flex;
    max-height: 93.5vh;
}