/*
Styling for the app.
To find out more about styling go to https://dash.plotly.com/external-resources
*/

/* Containers */
.main-nav {
    display: flex;
    border-bottom: 0.2em solid var(--pale);
}

/* Tabs */
.main-tabs {
    border: none;
}

.main-tabs .main-tab {
    height: 100%;
    padding-left: 5em;
    padding-right: 5em;
    border: none;
    background-color: var(--gray);
    color: white;
}

.main-tabs .main-tab-selected {
    background-color: var(--pale);
    color: var(--darkblue);
}

.main-tabs .main-tab:last-child {
    border: none;
}

.main-tabs .main-tab-selected:last-child {
    border: none;
}

.main-tabs .main-tab-selected:hover {
    background-color: var(--pale);
}

.main-tabs .main-tab:not(.main-tab-selected):hover {
    background-color: var(--lightgray);
    color: var(--pale);
}

/* Header */
.nav-header {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 2em;
    margin: 0;
    background-color: black;
    color: white;
}