/*
Styling for the app.
To find out more about styling go to https://dash.plotly.com/external-resources
*/

/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');

/* Containers */
.main-nav {
    display: flex;
    border-bottom: 0.2em solid var(--pale);
}

/* Tabs */
.main-tabs {
    border: none;
}

.main-tabs .main-tab {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 1.5em 4.575em;
    border: none;
    background-color: var(--gray);
    color: white;
}

.main-tabs .main-tab * {
    font-family: 'Sarala', sans-serif;
}

.main-tabs .main-tab-selected {
    background-color: var(--pale);
    color: var(--darkblue);
}

.main-tabs .main-tab:last-child {
    border: none;
}

.main-tabs .main-tab-selected:last-child {
    border: none;
}

.main-tabs .main-tab-selected:hover {
    background-color: var(--pale);
}

.main-tabs .main-tab:not(.main-tab-selected):hover {
    background-color: var(--lightgray);
    color: var(--pale);
}

/* Header */
.nav-header {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 2em;
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Sarala', sans-serif;
    font-weight: 900;
}