/*
Styling for the app.
To find out more about styling go to https://dash.plotly.com/external-resources
*/

/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');

/* Containers */
.main-nav {
    display: flex;
    border-bottom: 0.2em solid var(--pale);
}

/* Tabs */
#main-tabs {
    border: none;
}

#main-tabs .main-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1.5em 4.575em;
    border: none;
    background-color: var(--gray);
    color: white;
    text-align: center;
}

#main-tabs .main-tab * {
    font-family: 'Sarala', sans-serif;
    text-align: center;
}

#main-tabs .main-tab-selected {
    background-color: var(--pale);
    color: var(--darkblue);
}

#main-tabs .main-tab:last-child {
    border: none;
}

#main-tabs .main-tab-selected:last-child {
    border: none;
}

#main-tabs .main-tab-selected:hover {
    background-color: var(--pale);
}

#main-tabs .main-tab:not(.main-tab-selected):hover {
    background-color: var(--lightgray);
    color: var(--pale);
}

/* Header */
.nav-header {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 2em;
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Sarala', sans-serif;
    font-weight: 900;
}

/* Media Queries */
@media screen and (max-width: 1260px) {
    #main-tabs .main-tab {
        padding: 1.5em 2.935em;
    }
}

@media screen and (max-width: 950px) {
    #main-tabs .main-tab {
        padding: 1.5em 1.725em;
    }
}

@media screen and (max-width: 800px) {
    .nav-header {
        display: flex;
        justify-content: center;
        padding: 0.5em 0em;
        text-align: center;
    }

    #main-tabs .main-tab {
        padding: 1.5em 1em;
    }

    .main-nav {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    #main-tabs .main-tab {
        padding: 1em 0.5em;
    }

    .main-nav {
        flex-direction: column;
    }
}