/*
Styling for the app.
To find out more about styling go to https://dash.plotly.com/external-resources
*/

/* Containers */
.newsbot-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.newsbot-message-space {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    background-color: var(--lightblue);
}

.newsbot-params {
    display: flex;
    padding: 3em 2em 5em 2em;
    border-top: 0.2em solid var(--pale);
    background-color: var(--lightblue);
}

/* Messages */
.newsbot-message {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1em;
}

.newsbot-message.user {
    justify-content: flex-start;
    background-color: rgba(255,255,255,0.3);
}

.newsbot-message.bot {
    justify-content: flex-end;
}

.newsbot-message-content {
    padding: 1em;
    max-width: 40%;
    color: white;
}

.newsbot-message-content.user {
    border-radius: 0em 1em 0em 1em;
    background-color: var(--lightblue);
}

.newsbot-message-content.bot {
    border-radius: 1em 0em 1em 0em;
    background-color: var(--darkblue);
}

/* Form Elements */
.newsbot-query {
    flex-grow: 1;
    padding: 1.25em 1em;
    border: none;
    border-radius: 1em 0em 0em 1em;
    background-color: var(--pale);
    box-shadow: 0 0 0.5em 0.25em var(--darkblue);
}

.newsbot-query:focus {
    background-color: var(--pale);
    border: none;
    box-shadow: 0 0 0.5em 0.25em var(--darkblue);
}

/* Buttons */
.newsbot-btn {
    width: 30%;
    border: none;
    border-radius: 0em 0.5em 0.5em 0em;
    font-size: 2em;
    background-color: var(--red);
    color: var(--pale);
    box-shadow: 0.2em 0 0.25em 0.15em var(--darkblue);
}

.newsbot-btn:hover {
    background-color: var(--lightblue);
    color: var(--darkblue);
}

.newsbot-btn.disabled {
    background-color: var(--gray);
    color: var(--lightgray);
}

.newsbot-btn.disabled:hover {
    background-color: var(--gray);
    color: var(--lightgray);
}