/*
Styling for the app.
To find out more about styling go to https://dash.plotly.com/external-resources
*/

/* Containers */
.newsfeed-section {
    flex-grow: 1;
    display: flex;
}

.main-article-feed {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.newsfeed-articles {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    overflow-y: scroll;
    background-color: var(--darkblue);
}

.newsfeed-params {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2em;
    border-bottom: 0.2em solid var(--pale);
    background-color: var(--red);
}

.newsfeed-nlp-container {
    display: flex;
    width: 50%;
}

/* Headings */
.newsfeed-params > h2 {
    width: 100%;
    text-align: center;
    color: white;
}

/* News Cards */
.news-card {
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0.5em 0.1em;
    background-image: url("/assets/placeholder.jpg");
    background-size: cover;
    background-position: center;
    text-decoration: none;
}

.news-card:hover > .news-card-headline {
    display: none;
}

.news-card:hover > .news-card-description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.news-card-headline {
    padding: 0.5em;
    margin: 0;
    background-color: rgba(0,0,0,0.7);
    color: white;
}

.news-card-description {
    display: none;
    flex-grow: 1;
    padding: 0.5em;
    margin: 0;
    background-color: var(--pale);
    color: var(--darkblue);
    text-decoration: none;
}

/* Form Elements */
.category-select, .country-select {
    width: 40%;
    text-align: center;
}

.category-select:focus, .country-select:focus {
    box-shadow: none;
    border: none;
}